<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2><span jhiTranslate="videoexampleApp.profile.detail.title">Profile</span> {{ profile.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="videoexampleApp.profile.image">Image</span></dt>
                <dd>
                    <div *ngIf="profile.image">
                        <a (click)="openFile(profile?.imageContentType!, profile?.image)">
                            <img [src]="'data:' + profile.imageContentType + ';base64,' + profile.image" style="max-width: 100%;" alt="profile image"/>
                        </a>
                        {{ profile.imageContentType }}, {{ byteSize(profile.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="videoexampleApp.profile.user">User</span></dt>
                <dd>
                    {{ profile.user?.id }}
                </dd>
                <dt><span jhiTranslate="videoexampleApp.profile.streams">Streams</span></dt>
                <dd>
                    <span *ngFor="let streams of profile.streams; let last = last">
                        <a [routerLink]="['/stream', streams?.id, 'view']">{{ streams.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
